<div class="card start-card">
    <div class="row">
        <div class="col-md-12">
            <img src="../../../../assets/Img/Common01.jpg" class="pic-1" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="../../../../assets/Img/Common02.jpg" class="pic-norm" />
        </div>
        <div class="col-md-6">
            <img src="../../../../assets/Img/Common03.jpg" class="pic-norm" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="../../../../assets/Img/Common04.jpg" class="pic-norm" />
        </div>
        <div class="col-md-6">
            <img src="../../../../assets/Img/Common05.jpg" class="pic-norm" />
        </div>
    </div>
</div>