<div class="row">
    <div class="col-md-3 menucls header-mnu">𝓢𝓞𝓒𝓘𝓔𝓣𝓨 𝓒𝓐𝓡𝓔</div>
    <div class="col-md-3 menucls"></div>
    <div class="col-md-2 menucls"></div>
    <div class="col-md-4 menucls">
        <button mat-button class="mnuitems" style="color:white">Home</button>
        <button mat-button class="mnuitems" style="color:white">Services</button>
        <button mat-button class="mnuitems" style="color:white">About Us</button>
        <button mat-button class="mnuitems" style="color:white">Login</button>
    </div>
</div>