<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
            aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">Society Management</button>
                    <mat-menu #menu="matMenu" class="bg-dark">
                        <button mat-menu-item class="text-white">Registration Management</button>
                        <button mat-menu-item class="text-white">Subscription Management</button>
                        <button mat-menu-item class="text-white">Access Management</button>
                        <button mat-menu-item class="text-white">Zone Management</button>
                        <button mat-menu-item class="text-white">Configuration</button>
                    </mat-menu>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menuF">Finance Management</button>
                    <mat-menu #menuF="matMenu" class="bg-dark">
                        <button mat-menu-item class="text-white">Transaction Report</button>
                        <button mat-menu-item class="text-white">Payment Configuration</button>
                        <button mat-menu-item class="text-white">Society Transactions</button>
                        <button mat-menu-item class="text-white">Payment Request</button>
                    </mat-menu>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menuR">Report Management</button>
                    <mat-menu #menuR="matMenu" class="bg-dark">
                        <button mat-menu-item class="text-white">Finance Report</button>
                        <button mat-menu-item class="text-white">Registration Report</button>
                        <button mat-menu-item class="text-white">Bills Report</button>
                        <button mat-menu-item class="text-white">Service Report</button>
                    </mat-menu>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menuH">Helpdesk</button>
                    <mat-menu #menuH="matMenu" class="bg-dark">
                        <button mat-menu-item class="text-white">Customer Feedback</button>
                        <button mat-menu-item class="text-white">Customer Request</button>
                        <button mat-menu-item class="text-white">Customer Compaint</button>
                        <button mat-menu-item class="text-white">Contacted Customer</button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </div>
</nav>