
            <ngb-carousel>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img width="100%" height="400" src="https://picsum.photos/900/500?random&t=7" alt="Angular Carousel 1">
                  </div>
                  <div class="carousel-caption">
                    <h3>Title Goes Here</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img width="100%" height="400" src="https://picsum.photos/900/500?random&t=8" alt="Angular Carousel 2">
                  </div>
                  <div class="carousel-caption">
                    <h3>Title Goes Here</h3>
                    <p>Consectetur tortor volutpat pretium.</p>
                  </div>
                </ng-template>
              </ngb-carousel>
