<div class="row">
  <div class="col-md-12">
    <ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
      (slide)="onSlide($event)">
      <ng-template ngbSlide *ngFor="let img of images; index as i">
        <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
          <div class="picsum-img-wrapper">
            <img [src]="img" width="100%" height="300" alt="My image {{i + 1}} description" />
          </div>
        </a>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<div class="container container-menu">
  <div class="row  menu-card">
    <div class="col-md-12 chs-ud-mnu-btm">
      <span class="striped">Something for you..</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Upcoming Events</mat-card-title>
          <mat-card-subtitle>Celebration begins</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://picsum.photos/id/15/200/300" alt="Photo of a Shiba Inu" height="200"
          width="200">
        <mat-card-content>
          <p>
            Lets celebrate.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>New Members</mat-card-title>
          <mat-card-subtitle>Welcoming You</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://picsum.photos/id/25/200/300" alt="Photo of a Shiba Inu" height="200"
          width="200">
        <mat-card-content>
          <p>
            Lets celebrate.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Pending Tasks</mat-card-title>
          <mat-card-subtitle>Need to work on</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://picsum.photos/id/95/200/300" alt="Photo of a Shiba Inu" height="200"
          width="200">
        <mat-card-content>
          <p>
            Lets celebrate.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Our Culture</mat-card-title>
          <mat-card-subtitle>What we represent</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://picsum.photos/id/55/200/300" alt="Photo of a Shiba Inu" height="200"
          width="200">
        <mat-card-content>
          <p>
            Lets celebrate.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container container-menu">
  <div class="row  menu-card">
    <div class="col-md-12 chs-ud-mnu-btm">
      <span class="striped">Available for RENT/BUY</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <mat-card class="chs-card-flats-availble">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Ms. Leena gagare</mat-card-title>
            <mat-card-subtitle>For Rent</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
          from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
          originally bred for hunting.
          <div class="chs-flat-link">
            Click to view more...
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="chs-card-flats-availble">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Mr. Virender Singh</mat-card-title>
            <mat-card-subtitle>For Rent</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
          from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
          originally bred for hunting.
          <div class="chs-flat-link">
            Click to view more...
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="chs-card-flats-availble">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Mr. Pushparaj Aiyer</mat-card-title>
            <mat-card-subtitle>For Sell</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
          from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
          originally bred for hunting.
          <div class="chs-flat-link">
            Click to view more...
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>