<div class="b-example-divider"></div>

<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-header">
                The CHS Company
            </div>
            <div class="col-md-4 footer-header">
                Lets Connect
            </div>
            <div class="col-md-4 footer-header">
                Contact Support
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="nav-link px-2 text-white">Mobile App</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="nav-link px-2 text-white">Our Services</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="nav-link px-2 text-white">Customer Services</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="nav-link px-2 text-white">About Us</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="nav-link px-2 text-white">Contact Us</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="nav-link px-2 text-white">Privacy Policy</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="nav-link px-2 text-white">Request Info</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="nav-link px-2 text-white">Report a Problem</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        Contact Number : 9702944837
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Email : feedback-chs@gmail.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>