<div class="container-fluid maincard">

    <div class="row">
        <div class="col-md-6">
            <img src="../../../../../assets/Img/Society Registration.gif" height="100%" width="100%">
        </div>
        <div class="col-md-6">
            <div class="card reg-form">
                <div class="row">
                    <div class="col-md-12">
                        <span class="header-title">Basic Registration</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>Society Code*</mat-label>
                            <input matInput disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-md-8">
                        <mat-form-field>
                            <mat-label>Society Name*</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Pin Code*</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Country*</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>State*</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>City*</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Complete Address*</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Contact Number*</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Email ID*</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Total Wings*</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Total Flat*</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>HOS:Head Of Society*</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>HOS-Contact Number*</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Description*</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button class="addDetails">Additional Details</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <div mat-dialog-actions align="end">
                            <button mat-raised-button class="text-right btn-submit" color="warn">Reset</button>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div mat-dialog-actions align="end">
                            <button mat-raised-button class="text-right btn-submit" color="primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>