.maincard {
    padding-top: 10px;
}

.reg-form {
    border-radius: 25px;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    font-size: x-large;
    width: 100%;
}

mat-form-field,
mat-chip {
    width: 100%
}

.header-title {
    font-size: x-large;
    text-decoration: underline;
}

.addDetails {
    width: 50%;
    height: 60px;
    font-size: larger;
}

.btn-submit {
    height: 50px;
    font-size: 15pt;
    border-radius: 15px;
    background-color: black;
}