.divMain {
    border-radius: 25px;
    width: 650px;
    height: 550px;
}

h1 {
    font: normal normal normal 20px/1 Helvetica, arial, sans-serif;
    border-bottom: 2px solid #000;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}