<div class="b-example-divider"></div>

<header class="p-3 text-bg-dark">
    <div class="container">

        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-left mb-2 mb-lg-0 text-white text-decoration-none">
                <span class="logo-title">Society Care</span>
            </a>
            <div class="text-end last-end-title-bar">
                <button type="button" (click)="OpenContactModal()" class="btn btn-warning">Contact Us</button>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="bg-dark">
                    <button mat-menu-item (click)="NavigateForms(0)">
                        <mat-icon class="text-white">exit_to_app</mat-icon>
                        <span class="text-white">Login</span>
                    </button>
                    <button mat-menu-item (click)="NavigateForms(1)">
                        <mat-icon class="text-white">person</mat-icon>
                        <span class="text-white">Register</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</header>