<div class="card main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="footer-title">Society Care</span>
            </div>
            <div class="col-md-4">
                <span class="footer-title">Company</span>
            </div>
            <div class="col-md-4">
                <span class="footer-title">Contact Us</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span class="footer-menu">Mobile Apps</span>
            </div>
            <div class="col-md-4">
                <span class="footer-menu">About Us</span>
            </div>
            <div class="col-md-4">
                <span class="footer-menu">Mobile : 9702944837</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span class="footer-menu">Our Services</span>
            </div>
            <div class="col-md-4">
                <span class="footer-menu">Contact Us</span>
            </div>
            <div class="col-md-4">
                <span class="footer-menu">Email : supportsc@gmail.com</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span class="footer-menu">Pice Trends</span>
            </div>
            <div class="col-md-4">
                <span class="footer-menu">Latest Update</span>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span class="footer-menu">Articles</span>
            </div>
            <div class="col-md-4">
                <span class="footer-menu">Terms & Conditions</span>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span class="footer-menu">Customer Service</span>
            </div>
            <div class="col-md-4">
                <span class="footer-menu">Report a Problem</span>
            </div>
            <div class="col-md-4">
                All rights reserved @SocietyCare.2023
            </div>
        </div>
    </div>
</div>