<div class="card">
    <div class="row">
        <div class="col-md-12">
            <div class="card form-title">
                <span>
                    Feedback Form
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="../../../../assets/Img/cust-feedback.svg" height="85%" width="100%">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="tag-line">
                        <span>
                            *We not only value your property but also your opinion and feedback are much more
                            important to
                            us.
                        </span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="padding-all ">
                        <mat-label>Full Name*</mat-label>
                        <input matInput #input maxlength="100" placeholder="Ex. Nougat">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="padding-all ">
                        <mat-label>Contact Number*</mat-label>
                        <input matInput #input maxlength="100" placeholder="Ex. Nougat">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="padding-all ">
                        <mat-label>Email ID*</mat-label>
                        <input matInput #input maxlength="100" placeholder="Ex. Nougat">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="padding-all ">
                        <mat-label>Feedback*</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-md-6 text-center">
                    <button mat-flat-button color="primary" style="width:50%">Submit</button>
                </div>
                <div class="col-md-6 text-center">
                    <button mat-flat-button color="warn" style="width:50%">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>