.form-title {
    font-size: xx-large;
    font-family: fantasy;
    color: black;
    padding: 25px;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px grey;
}

.tag-line {
    font-size: large;
    color: royalblue;
    padding: 10px;
}

mat-form-field {
    display: block;
}

.padding-all {
    padding: 20px;
}