<div class="container">
    <div class="row">
        <!-- <div class="col-md-6">
            Logo And Name
        </div> -->
        <div class="col-md-12">
            <span class="contact100-form-title">
                Module Management
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
            TextBox-Page Tag line
        </div>
        <div class="col-md-6">
            TeaxtArea-Page Description
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Select Module
        </div>
        <div class="col-md-4">
            Select Sub Module
        </div>
        <div class="col-md-4">
            TextBox-Enter Position
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            TextBox-Component Name
        </div>
        <div class="col-md-3">
            RadioButton-IsActive
        </div>
        <div class="col-md-6">
            Button-Save & Close
        </div>
    </div>

</div>