@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.contact100-form-title {
    display: block;
    width: 100%;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 39px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 59px;
    text-decoration: underline;
}