<section id="hero" class="d-flex align-items-center custom-height">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 aos-init aos-animate"
                data-aos="fade-up" data-aos-delay="200">
                <h1>Find Your Society Manager</h1>
                <h2>Because We Value Your Property.</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <button class="btn-get-started scrollto" (click)="openDialog()">Contact Us</button>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img aos-init aos-animate" data-aos="zoom-in"
                data-aos-delay="200">
                <img src="../../../assets/Img/SC_Common1.gif" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-12 text-center" style="padding: 15px;">
        <span class="wwa">🅴🆅🅴🆁🆈🆃🅷🅸🅽🅶 🆆🅴 🅷🅰🆅🅴...</span>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span class="scale-up-center">𝐒𝐞𝐫𝐯𝐢𝐜𝐞𝐬 𝐖𝐞 𝐎𝐟𝐟𝐞𝐫𝐞𝐝...</span>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="example-card shadow-drop-center">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>24*7</mat-card-title>
                            <mat-card-subtitle>Support</mat-card-subtitle>
                            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        {{longText}}
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-md-4">
                <mat-card class="example-card shadow-drop-center">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>Communication</mat-card-title>
                            <mat-card-subtitle>Within Society Members</mat-card-subtitle>
                            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        {{longText}}
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card shadow-drop-center">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>Complaints & More</mat-card-title>
                            <mat-card-subtitle>One click status</mat-card-subtitle>
                            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        {{longText}}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<div class="container cntrCls">
    <div class="row">
        <div class="col-md-12">
            <span class="scale-up-center">𝐇𝐨𝐰 𝐢𝐭 𝐖𝐨𝐫𝐤𝐬...</span>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>24*7</mat-card-title>
                            <mat-card-subtitle>Support</mat-card-subtitle>
                            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        {{longText}}
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Small</mat-card-subtitle>
                            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        {{longText}}
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Small</mat-card-subtitle>
                            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        {{longText}}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>


<div class="container cntrCls">
    <div class="row">
        <div class="col-md-12">
            <span class="scale-up-center">𝐏𝐨𝐬𝐭 𝐘𝐨𝐮𝐫 𝐑𝐞𝐪𝐮𝐢𝐫𝐞𝐦𝐞𝐧𝐭𝐬...</span>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>24*7</mat-card-title>
                            <mat-card-subtitle>Support</mat-card-subtitle>
                            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        {{longText}}
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Small</mat-card-subtitle>
                            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        {{longText}}
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Small</mat-card-subtitle>
                            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        {{longText}}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>