
  <div class="b-example-divider"></div>

  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Dashboard</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Services</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Management</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Committee</a></li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-warning">Raise Complaint</button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" class="bg-dark">
  <button mat-menu-item >
    <mat-icon class="text-white">exit_to_app</mat-icon>
    <span  class="text-white">Logout</span>
  </button>
  <button mat-menu-item>
    <mat-icon  class="text-white">person</mat-icon>
    <span class="text-white">Profile</span>
  </button>
  <button mat-menu-item>
    <mat-icon  class="text-white"> attach_money</mat-icon>
    <span class="text-white">Transactions</span>
  </button>
   <button mat-menu-item>
    <mat-icon class="text-white">image_search</mat-icon>
    <span  class="text-white"> User Queries</span>
  </button>
   <button mat-menu-item>
    <mat-icon  class="text-white">info</mat-icon>
    <span  class="text-white">About</span>
  </button>
   <button mat-menu-item>
    <mat-icon class="text-white">contact_support</mat-icon>
    <span  class="text-white">Contact US</span>
  </button>
</mat-menu>
        </div>
      </div>
    </div>
  </header>