<div class="container maincontainer">
    <div class="card">
        <div class="row">
            <div class="col-md-6 text-center img-care">
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title sub-title-one">CARE99</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title">𝓑𝓪𝓼𝓲𝓬 𝓟𝓵𝓪𝓷</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title">-----------------------------------------------</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title">1 - Managing Society Operation</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title">2 - Schedule Society Meetings</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title">3 - Ad for Rent and Sell</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center img-care">
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title sub-title-one">CARE199</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title">𝓟𝓻𝓮𝓶𝓲𝓾𝓶 𝓟𝓵𝓪𝓷</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title">-----------------------------------------------</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title">1 - Managing Society Operation</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title">2 - Schedule Society Meetings</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title">3 - Ad for Rent and Sell</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title">4 - Online Meetings</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title">5 - Emergency Services : Ambulance/ Electrician/ Plumber/ Water Supplier
                            etc.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="sub-title">6 - Most Important Mobile App for easy use.</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-6 text-center img-care">
                <span class="sub-title">Price : INR. 99/- Only</span>
            </div>
            <div class="col-md-6 text-center img-care">
                <span class="sub-title">Price : INR. 199/- Only</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center img-care">
                <button class="btn btn-danger sub-title" type="button" (click)="BuySubscription(99)">BUY @99</button>
            </div>
            <div class="col-md-6 text-center img-care">
                <button class="btn btn-danger sub-title" type="button" (click)="BuySubscription(199)">BUY @199</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-md-12 text-center img-care">
                <span class="note">Note : </span><span class="note-content"> Subscription Plan will start after society
                    operations get started in application.</span>
            </div>
        </div>
    </div>
</div>