<div class="row">
    <div class="col-md-12">
        <img src="../../../../assets/Img/Society Common.jpg" class="imgheader">
    </div>
</div>
<div class="row row-card">
    <div class="card content-card">
        <div class="row">
            <div class="col-md-6">
                <span class="whatweare"> - What We
                    Are?</span>
                <p><br />
                    <span class="content-class">
                        <br />
                        <p>- Full fledge solution for managing society.</p>
                        <br />
                        <p>- Most affordable society manager.</p>
                        <br />
                        <p>- On track information about society in single click.</p>
                        <br />
                        <p>- Organise events and functions.</p>
                    </span>
                </p>
            </div>
            <div class="col-md-6">
                <img src="../../../../assets/Img/group-discussion.png" height="500px" width="100%">
            </div>
        </div>
    </div>
</div>

<div class="row row-card">
    <div class="card content-card">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../../assets/Img/demo.svg" height="500px" width="100%">
            </div>
            <div class="col-md-6">
                <span class="whatweare"> - What We
                    Offer?</span>
                <p><br />
                    <span class="content-class">
                        <br />
                        <p>- On Site Demo for easy use of application.</p>
                        <br />
                        <p>- Most affordable subscription models.</p>
                        <br />
                        <p>- 24x7 Support.</p>
                        <br />
                        <p>- Track Society operations from any location.</p>
                        <br />
                        <p>- Help you to organise events and functions.</p>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="card row-footer content-card">
        <div class="row">
            <div class="col-md-6 text-center">
                <a mat-button (click)="GoToSubsModel()" target="_blank" class="footertext">Subscriptions</a>
            </div>
            <div class="col-md-6 text-center">
                <a mat-button (click)="OpenContactModal()" target="_blank" class="footertext">Contact For Demo</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding-top:25px; font-size: small; padding-left: 85%;">
                All rights reserved @SocietyCare 2022-2023
            </div>
        </div>
    </div>
</div>